.table
    margin-bottom: 0
    table-layout: fixed

    tr
        th
            &:nth-child(2)
                width: 200px
                
            &:nth-last-child(1), &:nth-last-child(3)
                width: 60px

            &:nth-last-child(2)
                width: 80px

            &:nth-last-child(1)
                font-size: 0

        i
            font-size: 16px
            opacity: 0

        &:hover
            i
                opacity: 1
        td
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap


            input
                height: 30px

            &:last-child
                font-size: 0

            &:nth-last-child(2) input, &:nth-last-child(3) input
                padding-left: 3px
                padding-right: 3px
        a
            display: inline-block
            width: 50%
            height: 100%
            padding-top: 6px

        &.create i
            opacity: 1

        &.validated input:invalid
            border-color: red

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)
    table, thead, tbody, th, td, tr
        display: block
    .table    
        thead tr
            position: absolute
            top: -9999px
            left: -9999px
        
        tr 
            i
                opacity: 1
            td
                border: none
                border-bottom: 1px solid #eee
                position: relative
                padding-left: 50% !important

                &:nth-last-child(2) input, &:nth-last-child(3) input
                    padding-left: 12px
                    padding-right: 12px

                &:last-child
                    width: 100%

                &:before
                    position: absolute
                    top: 8px
                    left: 8px
                    width: 45%
                    padding-right: 10px
                    white-space: nowrap
                    font-weight: bold
                    font-size: 16px

                &:nth-of-type(1):before
                    content: "Name"
                &:nth-of-type(2):before
                    content: "Email"
                &:nth-of-type(3):before
                    content: "Phone"
                &:nth-of-type(4):before
                    content: "Street"
                &:nth-of-type(5):before
                    content: "City"
                &:nth-of-type(6):before
                    content: "State"
                &:nth-of-type(7):before
                    content: "Zip"
                &:nth-of-type(8):before
                    content: "Edit User" 

                a
                    width: 35px

@media only screen and (max-width: 400px)
    .table tr td
        padding-left: 40% !important

        &:before
            font-size: 14px
        input
            height: 24px

    tr.edit td
        padding-top: 6px !important
        padding-bottom: 6px !important